<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="helloBean" class="org.springframework.mytests.bean.HelloBean">
		<property name="myBeanDemo" ref="demo"/>
		<constructor-arg index="0">
			<value>张飞</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>你好</value>
		</constructor-arg>
	</bean>

	<bean id="demo" class="org.springframework.mytests.bean.MyBeanDemo">
		<property name="beanName" value="bean demo1"/>
		<property name="helloBean" ref="helloBean"/>
<!--		<meta key="beanName" value="bean demo1"/>-->
	</bean>


</beans>